@model   LALoDep.Models.AccountFirstLoginViewModel

@{
    Layout = null;
    var summary = string.Empty;
}

<!doctype html>
<html class="fixed">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <meta name="keywords" content="Jcats Louisiana Dependency" />
    <meta name="description" content="Jcats Louisiana Dependency">
    <meta name="author" content="Canyon Solutions Inc.">
    <title>Jcats Louisiana Dependency</title>
    <!-- Mobile Metas -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />  -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Web Fonts  -->
    <link href="/assets/fonts/Open-Sans/css/fonts.css" rel="stylesheet" />
    @*<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">*@
    @Styles.Render("~/assets/css/styles")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/assets/js/jquery")


    <style>
        .loginbox-bottom {
            border-top: dotted 1px #cccccc;
            margin-top: 10px;
            padding: 5px;
            text-align: center;
        }


        .login-container .loginbox {
            height: auto !important;
            width: 356px !important;
        }

            .login-container .loginbox .loginbox-textbox {
                padding: 10px 0px;
            }

                .login-container .loginbox .loginbox-textbox input {
                    width: 326px;
                }

        .login-container {
            max-width: 357px;
        }
    </style>

</head>
<body>



    <!-- start: page -->
    <div class="login-container animated fadeInDown">
        <div class="loginbox bg-white">
            <div class="loginbox-title">
                <a href="/">
                    CHANGE YOUR PASSWORD
                </a>
            </div>

            <div class="panel-body">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "change-password-form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.JcatsUserLoginName)
                    <div class="loginbox-textbox">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "Current Password", autofocus = "autofocus" })
                        @Html.ValidationMessageFor(m => m.OldPassword)
                    </div>

                    <div class="loginbox-textbox">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control ", placeholder = "New Password" })
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </div>
                    <div class="loginbox-textbox">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control ", placeholder = "Confirm Password" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>


                    <div class="row">
                        <div class="text-center">
                            <button type="button" class="btn-update-password btn btn-primary hidden-xs">Update</button>
                            <button type="button" class="btn-update-password btn btn-primary btn-block btn-lg visible-xs mt-lg">Update</button>
                        </div>
                    </div>

                    summary = string.Join("<br/>", ViewData.ModelState.ToList().SelectMany(c => c.Value.Errors.Select(e => e.ErrorMessage)).ToList());

                }
            </div>
        </div>
    </div>
    @Scripts.Render("~/assets/js/scripts")
    @Scripts.Render("~/scripts/js")


    @if (@summary.Length > 0)
    {
        <script>$(document).ready(function () { Notify('@summary', 'bottom-right', '5000', 'danger', 'fa-warning', true); });</script>
    }

    <script type="text/javascript">
        $BaseURL = '/';
        function PasswordValidation(inputtxt) {
            var decimal = /^(?=.*\d)(?=.*[a-z])(?=.*[^a-zA-Z0-9])(?!.*\s).{6,20}$/;
            if (inputtxt.match(decimal)) {

                return true;
            }

            return false;
        }
        function getData() {
            var fData = $('#change-password-form').serialize();
            return fData;
        }

        function saveData() {
            var $changePassword = false;
            if ($('#OldPassword').val() != '') {

                if ($('#NewPassword').val() != '') {
                    var oldPass = $('#OldPassword').val();
                    var newPass = $('#NewPassword').val();
                    var confirmPass = $('#ConfirmPassword').val();
                    if (!PasswordValidation(newPass)) {
                        notifyDanger('Password must be 6 to 20 characters long and contain a minimum of one numeric, one alpha, and one non-alpha/numeric character');
                        return false;
                    }
                    if (newPass != confirmPass) {
                        notifyDanger('Confirm Password and New Password do not match.');
                        // $('#OldPassword').val('');
                        //  $('#NewPassword').val('');
                        //  $('#ConfirmPassword').val('');
                        return false;
                    } else if (oldPass == newPass) {
                        notifyDanger('New must be different from old password.');
                        $('#NewPassword').focus();
                        //   $('#OldPassword').val('');
                        // $('#NewPassword').val('');
                        // $('#ConfirmPassword').val('');
                        return false;
                    } else {
                        $changePassword = true;
                    }
                } else {
                    notifyDanger('New password is required');
                    $('#NewPassword').focus();
                    //   $('#NewPassword').val('');
                    //  $('#ConfirmPassword').val('');
                    return false;
                }
            } else {
                notifyDanger('Current password is required');
                $('#OldPassword').focus();
                //   $('#OldPassword').val('');
                //   $('#NewPassword').val('');
                //  $('#ConfirmPassword').val('');
                return false;
            }
            if ($changePassword == true) {
                var data = getData();
                $.ajax({
                    type: "POST",
                    url: '/Account/ChangePasswordRequired',
                    data: data,
                    dataType: 'json',
                    success: function (data) {
                        if (data.errorMessage == '') {
                            if (data.succesMessage != '') {
                                notifySuccess(data.succesMessage);
                                //var $successHtml = '   <div class="col-md-offset-4 col-md-4 no-padding-left no-padding-right" >' +
                                //                        '<div class="alert alert-success fade in" style="width:100%">' +
                                //                            '<button data-dismiss="alert" class="close">×</button><i class="fa-fw fa fa-check"></i>' +
                                //                            '<span>' + data.succesMessage + '</span>' +
                                //                        '</div>' +
                                //                       '</div>';
                                //    $('#successNotifyPassDiv').html($successHtml);
                            }
                            setTimeout(function () {
                                window.location.href = data.URL;
                            }, 4000);

                        } else {
                            notifyDanger(data.errorMessage);
                            $("#change-password-form")[0].reset();
                            return false;
                        }
                    }
                });
            }
        }

        $(".btn-update-password").on("click", function () {
            saveData();
        });


        $(document).on("keypress", function (e) {
            if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
                $(".btn-update-password:first").trigger("click");
            }
        });


    </script>
</body>
</html>
