@model LALoDep.Models.HourlyInvoiceListViewModel
@{
    ViewBag.Title = "Search";
}

<div class="row">
    <div class="col-md-12 col-sm-12 center-block" style="padding: 0 20px 0 20px">
        <div class="widget row">
            <div class="widget-header bordered-bottom bordered-themeprimary col-xs-12">
                <span class="widget-caption">Search Criteria</span>
                <div class="widget-buttons">
                    &nbsp;
                </div>
            </div>
            <div class="widget-body col-xs-12">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "HourlyInvoiceList-search-form", @class = "form-inline  center-block" }))
                {
                    <div class="form-group">
                        @Html.LabelFor(m => m.AttorneyID, "Attorney", new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.AttorneyID, Model.AttorneyList, "", new { @class = "form-control input-sm", tabindex = 1, style = "width:98%",autofocus="autofocus" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.InvoiceNumber, "Invoice #", new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.InvoiceNumber, new { @class = "form-control input-sm", tabindex = 2 })
                    </div>
                }
                <p></p>
                <div id="search-validation-error" class="alert alert-danger hidden">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    At least one search parameter is required.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="divSearchResult">
    <div class="col-md-12 col-sm-12 center-block" style="padding: 0 20px 0 20px">
        <div class="widget row">
            <div class="widget-header bordered-bottom bordered-themeprimary col-xs-12">
                <span class="widget-caption">Search Results</span>
                <div class="widget-buttons">
                    &nbsp;
                </div>
            </div>
            <div class="widget-body col-xs-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-condensed table-hover table-padding table-striped" id="searchHourlyInvoiceList">
                        <thead>
                            <tr>
                                <th class="">Invoice #</th>
                                <th class="">Invoice Date</th>
                                <th class="">Invoice Amount</th>
                                <th class="">Attorney</th>
                                <th class="">Approval Date</th>
                                <th class="">Approval Amount</th>
                                <th style="width:30px;"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section fixedfooter{
    <div class="boxfloat text-center">
        <button id="search" type="submit" class="btn btn-primary v-bottom default" tabindex="3">Search</button>
        <button id="btnAdd" type="button" class="btn btn-default v-bottom" data-secure-id="@((int)LALoDep.Custom.Security.SecurityToken.HourlyInvoiceAdd)" tabindex="4">Add New Invoice</button>
    </div>
}

@section scripts
{
    <script type="text/javascript">
        var $onViewLoad = '@Model.OnViewLoad';
    </script>
    <script src="@Url.Content("~/Scripts/Application-Script/Tasks/HourlyInvoiceListSearch.js?v=" + Guid.NewGuid())"></script>
}
