@model LALoDep.Models.Administration.EditUserGroupViewModel
@{
    ViewBag.Title = ViewBag.Display;
}
<div class="row">
    <div class="col-md-12 col-sm-12 center-block" style="padding: 0 20px 0 20px">
        <div class="widget row">
            <div class="widget-header bordered-bottom bordered-themeprimary col-xs-12">
                <span class="widget-caption">@ViewBag.Display</span>
            </div>
            <div class="widget-body col-xs-12">
                <div class="col-xs-3">
                    <div class="form-group">
                        @Html.LabelFor(m => m.JcatsGroup.JcatsGroupName, "Group Name", new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.JcatsGroup.JcatsGroupName, new { @class = "form-control input-sm", tabindex = 5 })
                        <input type="hidden" id="hdn_JcatsGroupID" name="JcatsGroupID" value="@LALoDep.Core.Custom.Utility.Utility.Encrypt(Model.JcatsGroup.JcatsGroupID.ToString())" />
                        @Html.HiddenFor(x=>x.JcatsGroup.JcatsGroupID)
                        @Html.Hidden("OldGroupName", Model.JcatsGroup.JcatsGroupName)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="divSearchResult">
    <div class="col-md-12 col-sm-12 center-block" style="padding: 0 20px 0 20px">
        <div class="widget row">
            <div class="widget-header bordered-bottom bordered-themeprimary col-xs-12">
                <span class="widget-caption">Search Results</span>
                <div class="widget-buttons">
                    &nbsp;
                </div>
            </div>
            <div class="widget-body col-xs-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-condensed table-hover table-padding table-striped" id="editUserGroup">
                        <thead>
                        <tr>
                            <th class="" style="width: 50px;">Access</th>
                            <th class="">Agency</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section fixedfooter{
    <div class="boxfloat text-center">
        <button id="save" type="submit" class="btn btn-primary v-bottom default" tabindex="3">Save</button>
        <button id="saveandReturn" type="button" class="btn  v-bottom default" tabindex="4">Save/Return</button>
        <button id="cancel" type="button" class="btn v-bottom" tabindex="5">Cancel</button>
    </div>
}
@section scripts
{
    <script src="@Url.Content("~/Scripts/Application-Script/Administration/EditUserGroup.js?v=" + Guid.NewGuid())"></script>
}