@model LALoDep.Models.Case.MoreInfoOnPersonViewModel
@{
    ViewBag.Title = "More Info <br/> On Person";
}
<div class="row">
    <div class="col-md-12 col-sm-12 center-block" style="padding: 0 20px 0 20px">
        <div class="widget row">
            <div class="widget-header bordered-bottom bordered-themeprimary col-xs-12">
                <span class="widget-caption">Person Info</span>
            </div>
            <div class="widget-body col-xs-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-condensed table-hover table-padding table-striped" id="tblAddress">
                        <thead>
                            <tr>
                                <th>Role</th>
                                <th>Last Name</th>
                                <th>First Name</th>
                                <th>DOB</th>
                                <th>Gender</th>
                                <th>Language</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.PersonRoles != null && Model.PersonRoles.Any())
                            {
                                foreach (var item in Model.PersonRoles)
                                {
                                    <tr>
                                        <td>@item.Role</td>
                                        <td>@item.LastName</td>
                                        <td>@item.FirstName</td>
                                        <td>@item.DOB</td>
                                        <td>@item.Gender</td>
                                        <td>@item.Language</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="divSearchResult">
    <div class="col-md-12 col-sm-12 center-block" style="padding: 0 20px 0 20px">
        <div class="widget row">
            <div class="widget-header bordered-bottom bordered-themeprimary col-xs-12">
                <span class="widget-caption">Addresses</span>
            </div>
            <div class="widget-body col-xs-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-condensed table-hover table-padding table-striped" id="tblAddress">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Street</th>
                                <th>City, State Zip</th>
                                <th>Address Phone</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Addresses != null && Model.Addresses.Count > 0)
                            {
                                foreach (var item in Model.Addresses)
                                {
                                    <tr>
                                        <td>@item.AddressType</td>
                                        <td>@item.AddressStreet</td>
                                        <td>@item.AddressCSZ</td>
                                        <td>@item.AddressPhone</td>
                                        <td>@item.AddressStartDate</td>
                                        <td>@item.AddressEndDate</td>
                                    </tr>

                                    if (!string.IsNullOrEmpty(item.AddressComment))
                                    {
                                        <tr>
                                            <td colspan="6">@item.AddressComment</td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 center-block" style="padding: 0 20px 0 20px">
        <div class="widget row">
            <div class="widget-header bordered-bottom bordered-themeprimary col-xs-12">
                <span class="widget-caption">Contact Info</span>
            </div>
            <div class="widget-body col-xs-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-condensed table-hover table-padding table-striped" id="tblContacts">
                        <thead>
                            <tr>
                                <th style="width:25%">Type</th>
                                <th>#/Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Contacts != null && Model.Contacts.Count > 0)
                            {
                                foreach (var item in Model.Contacts)
                                {
                                    <tr>
                                        <td>@item.TypeDisplay</td>
                                        <td>@item.ContactInfo</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 center-block" style="padding: 0 20px 0 20px">
        <div class="widget row">
            <div class="widget-header bordered-bottom bordered-themeprimary col-xs-12">
                <span class="widget-caption">Legal Numbers</span>
            </div>
            <div class="widget-body col-xs-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-condensed table-hover table-padding table-striped" id="tblLgealNumbers">
                        <thead>
                            <tr>
                                <th style="width:25%">Type</th>
                                <th>Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.LegalNumbers != null && Model.LegalNumbers.Count > 0)
                            {
                                foreach (var item in Model.LegalNumbers)
                                {
                                    <tr>
                                        <td>@item.LegalNumberTypeCodeValue</td>
                                        <td>@item.LegalNumberEntry</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12 col-sm-12 center-block" style="padding: 0 20px 0 20px">
        <div class="widget row">
            <div class="widget-header bordered-bottom bordered-themeprimary col-xs-12">
                <span class="widget-caption">Associations</span>
            </div>
            <div class="widget-body col-xs-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-condensed table-hover table-padding table-striped" id="tblAssociations">
                        <thead>
                            <tr>
                                <th>Person</th>
                                <th>Association</th>
                                <th>Contact Type</th>
                                <th>Contact Info</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Associations != null && Model.Associations.Count > 0)
                            {
                                foreach (var item in Model.Associations)
                                {
                                    <tr>
                                        <td>@item.PersonDisplay</td>
                                        <td>@item.Association</td>
                                        <td>@item.ContactType</td>
                                        <td>@item.ContactInfo</td>
                                        <td>@item.StartDate</td>
                                        <td>@item.EndDate</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section fixedfooter{
    <div class="boxfloat text-center">
        <button id="btnCancel" type="submit" class="btn btn-primary v-bottom default ">Back</button>
    </div>
}

@section scripts
{
    <script>
        $('#btnCancel').on("click", function () {
            window.location.href = "/Case/Main";
        })
    </script>
}