@model MFA.Models.VerifyViewModel
    @{ 
        Layout = "~/Views/Shared/_MFALayout.cshtml";
    }
<div class="card">
    <div class="row align-items-center text-center">
        <div class="col-md-12">
            <div class="card-body">
                <form method="post" id="formVerify" class="md-float-material" role="form">
                    <img src="https://gajcngdev.canyonsolutions.com/assets/images/Logo_canyon.png" alt="logo.png" />
                    <hr />
                    @if (Model.Status == "new")
                    {


                        <div class="input-group mb-3" id="divEmail">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="feather icon-mail"></i></span>
                            </div>
                            @Html.TextBoxFor(m => m.VerificationEmailAddress, new { @class = "form-control", placeholder = "Email", autofocus = "autofocus" })


                        </div>
                        <div class="input-group mb-4" id="divPhone" style="display:none">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="feather icon-phone"></i></span>
                            </div>
                            @Html.TextBoxFor(m => m.VerificationPhoneNumber, new { @class = "form-control", placeholder = "Phone #" })
                        </div>
                        <div class="input-group mb-4">
                            <label class="control-label">Verification By:   </label>
                            <div class="form-check" style="margin-left:5px">
                                <input class="form-check-input" type="radio" name="VerificationType" id="rbtnEmail" style="margin-top: 2px;" value="email" checked>
                                <label class="form-check-label" for="rbtnEmail" style="margin-right:5px">
                                    Email
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="VerificationType" id="rbtnSms" style="margin-top: 2px;" value="sms">
                                <label class="form-check-label" for="rbtnSms">
                                    Sms
                                </label>
                            </div>
                        </div>
                        <input type="hidden" value="new" name="Status"  id="Status"/>
                        <button type="submit" id="btnSendCode" class="btn btn-block btn-primary mb-4">Send Code</button>

                    }
                    else if (Model.Status == "code_sent" || Model.Status == "fail")
                    {
                        <div class="input-group mb-3" id="divEmail">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="feather icon-mail"></i></span>
                            </div>
                            @Html.TextBoxFor(m => m.VerificationCode, new { @class = "form-control", placeholder = "Verification Code", maxlength = 6, autofocus = "autofocus" })

                            @Html.HiddenFor(o => o.VerificationType)
                            @Html.HiddenFor(o => o.VerificationEmailAddress)
                            @Html.HiddenFor(o => o.VerificationPhoneNumber)
                            @if (Model.Status == "fail")
                            {
                                <div class="alert alert-info"> Invalid Code.</div>
                            }
                            <input type="hidden" value="code_sent" name="Status" id="Status" />
                        </div>
                        <button type="submit" id="btnVerify" class="btn btn-block btn-primary mb-4">Verify</button>

                    }
                    else if (Model.Status == "approved")
                    {
                        <div class="alert alert-info"> Verification Done.</div>
                        <input type="hidden" value="approved" name="Status" id="Status"/>
                    }

                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{

    @* *@
    <script>
        $(function () {
            $('#rbtnSms').click(function () {
                $('#divPhone').show();
                $('#divEmail').hide();
            })
            $('#rbtnEmail').click(function () {
                $('#divEmail').show();
                $('#divPhone').hide();

            });

            $('#btnSendCode').click(function () {
                if ($('#rbtnEmail').is(':checked')) {
                    if ($('#VerificationEmailAddress').val() == '') {
                        notifyDanger("Email is required");
                        $("#VerificationEmailAddress").focus();
                        return false;
                    }
                    if (!IsValidData('email', $('#VerificationEmailAddress').val())) {
                        notifyDanger("Invalid Email.");
                        $("#VerificationEmailAddress").focus();
                        return false;
                    }
                }


                if ($('#VerificationPhoneNumber').val() == '' && $('#rbtnPhone').is(':checked')) {
                    notifyDanger("Phone # is required");
                    $("#Password").focus();
                    return false;
                }

            });

            $('#btnVerify').click(function () {



                if ($('#VerificationCode').val() == '') {
                    notifyDanger("Verification Code is required");
                    $("#VerificationCode").focus();
                    return false;
                }
                if ($('#VerificationCode').val().length < 6) {
                    notifyDanger("Verification Code must be six character long");
                    $("#VerificationCode").focus();
                    return false;
                }
            });
            if ($('#Status').val() == 'approved') {
                setTimeout(function () {
                    document.location.href = '/';
                }, 2000);
            }


        });
    </script>
}