@model LALoDep.Models.ToDoListViewModel
@{
    ViewBag.Title = ViewBag.PageTitle;
}

<div class="row">
    <div class="col-md-12 col-sm-12 center-block" style="padding: 0 20px 0 20px">
        <div class="widget row">
            <div class="widget-header bordered-bottom bordered-themeprimary col-xs-12">
                <span class="widget-caption">Search Criteria</span>
                <div class="widget-buttons">
                    <button id="addNew" class="btn btn-default" title="Add New Action">A<u>d</u>d New </button>
                </div>
            </div>
            <div class="widget-body col-xs-12">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "todolist-form", @class = "form-inline  center-block" }))
                {
                    <div class="form-group  col-md-3">
                        @Html.LabelFor(m => m.ActionTypeCodeID, new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.ActionTypeCodeID, new SelectList(Model.ActionTypes, "CodeID", "CodeValue"), "", new { @class = "form-control input-sm agency-group", autofocus = "autofocus", tabindex = 1, style = "width:100%;" })
                    </div>
                    <div class="form-group  col-md-2">
                        @Html.LabelFor(m => m.DateType, new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.DateType, new SelectList(Model.DateTypes, "Key", "Value"), new { @class = "form-control input-sm", tabindex = 2, style = "width:100%;" })
                    </div>
                     <div class="form-group" >
                        @Html.LabelFor(m => m.StartDate, new { @class = "control-label" })
                        <div class="input-group">
                            
                                @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control input-sm date-picker", tabindex = 3, maxlength = "10" })
                                <span class="input-group-addon datepicker-trigger" style="width:auto !important;">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="form-group   no-margin-left" >
                        @Html.LabelFor(m => m.EndDate, new { @class = "control-label" })
                        <div class="input-group">
                            
                                @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control input-sm  date-picker", maxlength = "10", tabindex = 4 })
                                <span class="input-group-addon datepicker-trigger" style="width:auto !important;">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ActionStatusCodeID, new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.ActionStatusCodeID, new SelectList(Model.Status, "CodeID", "CodeValue", Model.ActionStatusCodeID), "", new { @class = "form-control input-sm agency-group", autofocus = "autofocus", tabindex = 5 })
                    </div>
                }
                <p></p>
                <div id="search-validation-error" class="alert alert-danger hidden">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    At least one search parameter is required.
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row" id="divSearchResult">
    <div class="col-md-12 col-sm-12 center-block" style="padding: 0 20px 0 20px">
        <div class="widget row">
            <div class="widget-header bordered-bottom bordered-themeprimary col-xs-12">
                <span class="widget-caption">Search Results</span>
                <div class="widget-buttons">
                    &nbsp;
                </div>
            </div>
            <div class="widget-body col-xs-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-condensed table-hover table-padding table-striped" id="searchToDoList">
                        <thead>
                            <tr><th  style="max-width:120px">DOC</th>
                                <th style="max-width:230px">Action Type</th>
                                <th style="max-width:300px">Action</th>
                                <th style="max-width:100px">JCATS #</th>
                                <th style="max-width:200px">Case Name</th>
                                <th style="max-width:120px">Reminder Date</th>
                                <th style="max-width:120px">Due Date</th>
                                <th style="width:120px;"><input type="checkbox" onclick="CheckAll()" tabindex="6" id="checkallStatus" style="width: auto;height:auto;" />Acknowledge</th>
                                <th style="width:40px;">Del</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section fixedfooter{
    <div class="boxfloat text-center">
        <button id="btnSearch" type="submit" class="btn btn-primary v-bottom default" tabindex="6">Search/Process</button>
        <button id="btnPrint" type="button" class="btn v-bottom hidden" tabindex="7">Print</button>
    </div>
}

@section scripts
{
    <script>
        var $loadFromCache = '@TempData["TODOSaved"]' == ''
    </script>
    <script src="@Url.Content("~/Scripts/Application-Script/Inquiry/ToDoList.js?v=" + Guid.NewGuid())"></script>
}