@model LALoDep.Models.Administration.TrainingSummaryViewModel
@{
    ViewBag.Title = "Training Summary";
}

<div class="row">
    <div class="col-md-12 col-sm-12 center-block" style="padding: 0 20px 0 20px">
        <div class="widget row">
            <div class="widget-header bordered-bottom bordered-themeprimary col-xs-12">
                <span class="widget-caption">Filter Criteria</span>
                <div class="widget-buttons">
                    &nbsp;
                </div>
            </div>
            <div class="widget-body col-xs-12">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "trainingSummary-search-form", @class = "form-inline  center-block" }))
                {
                    <div class="form-group">
                        @Html.LabelFor(m => m.AgencyGroupID, "Agency Group", new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.AgencyGroupID, Model.AgencyGroupList, "", new { @class = "form-control input-sm", autofocus = "autofocus", tabindex = 1, style = "width:98%" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.AgencyID, "Agency", new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.AgencyID, Model.AgencyList, "", new { @class = "form-control input-sm", tabindex = 2, style = "width:98%" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.StartDate, "Start Date", new { @class = "control-label" })
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control input-sm date-picker", tabindex = 3, maxlength = 9 })
                            <span class="input-group-addon datepicker-trigger">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.EndDate, "End Date", new { @class = "control-label" })
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control input-sm date-picker", tabindex = 4, maxlength = 10 })
                            <span class="input-group-addon datepicker-trigger">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.VenueID, "Venue", new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.VenueID, Model.VenueList, "", new { @class = "form-control input-sm", tabindex = 5, style = "width:98%" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.SupervisorID, "Supervised By", new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.SupervisorID, Model.SupervisorList, "", new { @class = "form-control input-sm", tabindex = 6, style = "width:98%" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.IncludeAllActiveStuffBool, "Include All Active Staff", new { @class = "control-label" })
                        @Html.CheckBoxFor(m =>m.IncludeAllActiveStuffBool, new { @class = "form-control input-sm"})
                    </div>

                }
                <p></p>
                <div id="search-validation-error" class="alert alert-danger hidden">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    At least one search parameter is required.
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row" id="divSearchResult">
    <div class="col-md-12 col-sm-12 center-block">
        <div class="widget row">
            <div class="widget-header bordered-bottom bordered-themeprimary col-xs-12">
                <span class="widget-caption">
                    Training Summary
                </span>

                </div>
            <div class="widget-body col-md-12" id="trainingSummaryDiv">
            </div>
        </div>
    </div>
</div>
@section fixedfooter{
    <div class="boxfloat text-center">
        <button id="filter" type="submit" class="btn btn-primary v-bottom default" tabindex="11" data-secure-id="@((int)LALoDep.Custom.Security.SecurityToken.ViewTrainingSummary)">Filter</button>
    </div>
}
<style>
    .full-wdth {
        width: 100% !important;
    }
</style>
@section scripts
{
    <script type="text/javascript">
        var $onViewLoad = '@Model.OnViewLoad';
    </script>
    <script src="@Url.Content("~/Scripts/Application-Script/Administration/TrainingSummary.js?v=" + Guid.NewGuid())"></script>
}